@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BerlingskeSerifTxMd";
  src: url("../public/fonts/UPSBerlingskeSerifTx-Md.woff") format("woff");
  font-style: normal;
  /* font-weight: 400; */
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/Roboto-Regular.woff") format("woff");
  /* font-weight: 700; */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/Roboto-Medium.woff") format("woff");
  /* font-weight: 700; */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/Roboto-Bold.woff") format("woff");
  /* font-weight: 700; */
  font-style: normal;
  font-display: swap;
}

:root {
  --color-primary-100: #351c15;
  --color-primary-bark: #5f5753;
  --color-secondary: #ffc400;
  --color-secondary-separator: #ffdc40;
  --color-secondary-hover: #ffd033;
  --color-tertiary: #426da9;
  --color-neutral-grey: #f2f2f2;
  --color-black: #080808;
  --color-white: #ffffff;
  --color-error: #df2901;
  --color-breadcrumb-active: var(--color-primary-bark);

  --border-radius-025: 4px;
  --border-radius-100: 8px;
  --border-radius-200: 16px;
  --border-radius-1000: 80px;

  --spacing-025: 2px;
  --spacing-050: 4px;
  --spacing-075: 6px;
  --spacing-100: 8px;
  --spacing-125: 10px;
  --spacing-200: 16px;
  --spacing-250: 20px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-800: 64px;
  --spacing-1000: 80px;
  --spacing-1700: 136px;

  --shadow-button: rgba(0, 0, 0, 0.16) 0px 4px 24px;

  --background-banner-brown: linear-gradient(
    18.83deg,
    #7e5844 37.21%,
    #69422d 100%
  );
  --background-banner-clearBrown: linear-gradient(
    318.8deg,
    #dfdbd7 -11.42%,
    #f2f1ef 58.01%
  );

  --container-desktop: 1220px;
  --container-tablet: 696px;
  --container-mobile: 100%;

  --typography-body: "Roboto";
  --typography-heading: "BerlingskeSerifTxMd";

  /* Min: 40px - Max: 48px / 1920px */
  --typography-heading-large: clamp(2.5rem, 2.4rem + 0.5vw, 3rem);
  /* Min: 24px - Max: 32px / 1920px */
  --typography-heading-medium: clamp(1.5rem, 1.4rem + 0.5vw, 2rem);

  /* --color-bright-star: #dee2e6;
  --color-blue-bell: rgba(151, 175, 208, 0.55);
  --color-azure: #007bff;
  --color-naval: #426da9;
  --color-black-pearl: rgb(33, 37, 41);
  --color-amber: #ffc400;
  --color-burnt-coffee: rgb(53, 28, 21);
  --color-mercury: rgb(233, 236, 239);
  --color-white-2: rgb(255, 255, 255);
  --color-errigal-white: rgb(242, 242, 242);
  --color-pearl-brite: rgb(229, 229, 229);
  --color-weathered-stone: rgb(198, 198, 198);
  --color-bank-vault: rgb(118, 118, 118);
  --color-phantom: rgb(108, 117, 125);
  --color-bark: #5f5753;
  --color-armadillo: rgb(74, 74, 74);
  --color-nero-2: rgb(36, 36, 36);
  --color-dreamless-sleep: #121212; */
}

.typography-body {
  font-family: var(--typography-body);
}

.typography-heading {
  font-family: var(--typography-heading);
}

.heading-large {
  font-size: var(--typography-heading-large);
}
.heading-medium {
  font-size: var(--typography-heading-medium);
}

.background-banner-brown {
  background: var(--background-banner-brown);
}
.background-banner-clearBrown {
  background: var(--background-banner-clearBrown);
}

@media (prefers-color-scheme: dark) {
}

body {
  @apply h-screen flex flex-col font-[var(--typography-body)];
}

main {
  @apply flex-1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply leading-[1.2];
}
